@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: 700;
  font-size: 2rem;
}
h2 {
  font-weight: 600;
  font-size: 1.7rem;
}
h3 {
  font-weight: 600;
  font-size: 1.4rem;
}
h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

h5 {
  font-weight: 500;
  font-size: 1rem;
}
p {
  font-weight: 400;
}
th{
  font-weight: 400;
  font-size: small;
}

@layer components {
  .section-style {
    @apply bg-white mt-7 p-7 rounded-xl transition-all duration-500 hover:-translate-y-1.5 hover:shadow-lg;
  }
  .input-style {
    @apply bg-gray-100 w-2/3 p-2.5 rounded placeholder:text-gray-400 text-sm font-light outline-none;
  }
  .input-div-style {
    @apply flex justify-between items-center mt-5;
  }
  .custom-radio {
    @apply appearance-none cursor-pointer before:transition-all before:duration-500  w-3.5 h-3.5 border rounded-full place-content-center mr-2.5 border-teal-500 before:flex before:bg-teal-500 before:rounded-full before:w-3 before:h-3 before:opacity-0 checked:before:opacity-100;
  }
  .custom-radio-li {
    @apply flex justify-between w-1/2 text-gray-500 text-sm mt-5;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #0d948966;
    border-radius: 10px;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0d94898d;
  }
  .input::file-selector-button {
    border: none;
    padding: 7px;
    border-radius: 7px 0px 0 7px;
    background-color: #e5e7eb;
    padding-right: 10px;
    cursor: pointer;
  }
  .spinner {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #0d94898d;
    border-right: 3px solid transparent;
    box-sizing: border-box;
  }
}
